*{
    motion: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

header{
    height: 100vh;
    width: 100vw;
    background: url('Assets/mainbg.png');
    background-position: center;
    background-size: cover;
    position: fixed;
    font-size: 18px;
}

/*main css*/
/*Picture css*/
header .logo{
    border-radius: 20px;
    height: 400px;
    float: right;
    margin-top: 150px;
    margin-right: 150px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.46);
  }

/*Navigation menu*/
nav{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
    color: black;
    
}
nav .menu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
}
nav .menu li a{
    text-decoration: none;
    color: brown;
    margin: 0px 5px;
    padding: 8px 10px;
    transition: 0.5s;
    border-bottom: 0.5px solid rgb(3, 85, 85);
    border-radius: 5px;
}
nav .menu li a:hover{
    background-color: white;
    color: black;
}

nav .menu li .active{
    background-color: rgb(252, 0, 0, 0.2);
    color: black;
}
/*Text box*/
.header-body{ 
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 175px;
    margin-left: 20px;
    background-color: rgba(181, 224, 241, 0.7);
    width: 30%;
    height: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.46);
}

.header-body .text{
    width: 400px;
    text-align: center;
}

.header-body .h-tit{
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.header-body .h-tit2{
    font-size: 1.35rem;
    margin-bottom: 10px;
}
.header-body .btn{
    margin-top: 0px;
}
/*text button*/
.header-body .btn button{
    border: 1px solid rgb(3, 85, 85);
    border-radius: 10px;
    padding: 10px 18px;
    background-color: transparent;
    color: black;
    margin: 5px;
    font-size: 17px;
}

.header-body .btn button:hover{
    background-color: yellowgreen;
    color: white;
    cursor: pointer;
}
/*end of main css*/

/*Contact*/
.header2 .title2{
    height: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(219, 152, 152);
    margin-top: 20px;
}
.header2 .title3{
    height: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(64, 65, 68);
}
/*head logo*/
.header2 .logo2{
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*text box of body2*/
.header2 .body2{
    width: 27%;
    height: 45%;
    color: black;
    display: flex;
    flex-direction: row;
    text-align: center;
}
/*all button of body2 design*/
.header2 .body2 button{
    font-size: 18px;
    border: 1px solid wheat;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: rgba(181, 224, 241, 0.7);
    color: black;
    margin: 5px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

.header2 .body2 button:hover{
    background-color: yellowgreen;
    color: rgb(248, 248, 248);
    cursor: pointer;
}
/*location button design*/
.header2 .body2 .try3 button{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 15px;
    background-color: yellowgreen;
    color: black;
    margin: 5px;
}
/*Contact details*/
/*logo dimentions*/
.header2 .body2 .logo1{
    width: 35px;
    padding: 1px;
}

.header2 .body2 .logo3{
    width: 50px;
    padding: 1px;
}
/*logo and text dimentions*/
.header2 .body2 .try1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 1px;
    margin-left: 60%;
}

.header2 .body2 .try2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 1px;
    margin-left: 30%;
}

.header2 .body2 .try3{
    margin-top: 5px;
    margin-left: 45%;
}
/*end of contact css*/

